<mat-toolbar>
  <h1>My Todo List</h1>
  <button mat-mini-fab color="primary" (click)="openTodoDialog('add')">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<mat-list>
  <mat-list-item
    *ngFor="let item of todosSignal()"
    [class.completed]="item.completed"
  >
    {{ item.description }}
    <mat-slide-toggle
      [checked]="item.completed"
      (change)="markCompleted(item, $event.checked)"
    >
      Completed
    </mat-slide-toggle>
    <button mat-stroked-button (click)="openTodoDialog('update', item)">
      Update
    </button>
    <button mat-stroked-button (click)="deleteTodo(item)">Delete</button>
  </mat-list-item>
</mat-list>
